<configuration>
	<appSettings>
		<add key="MM_CONNECTION_HANDLER_myconn" value="default_oledb.htm" />
		<add key="MM_CONNECTION_STRING_myconn" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Inetpub\wwwroot\mx2004\ch9\Portfolios.mdb;Persist Security Info=False" />
		<add key="MM_CONNECTION_DATABASETYPE_myconn" value="OleDb" />
		<add key="MM_CONNECTION_SCHEMA_myconn" value="" />
		<add key="MM_CONNECTION_CATALOG_myconn" value="" />
	</appSettings>
</configuration>
