<configuration>
	<appSettings>
		<add key="MM_CONNECTION_HANDLER_connWines" value="default_oledb.htm" />
		<add key="MM_CONNECTION_STRING_connWines" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Inetpub\wwwroot\mx2004\wines.mdb;Persist Security Info=False" />
		<add key="MM_CONNECTION_DATABASETYPE_connWines" value="OleDb" />
		<add key="MM_CONNECTION_SCHEMA_connWines" value="" />
		<add key="MM_CONNECTION_CATALOG_connWines" value="" />
	</appSettings>
</configuration>
