<configuration>
	<appSettings>
		<add key="MM_CONNECTION_HANDLER_ConStr" value="default_oledb.htm" />
		<add key="MM_CONNECTION_STRING_ConStr" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Inetpub\wwwroot\CaseStudy\DB\CaseStudy.mdb;Persist Security Info=False" />
		<add key="MM_CONNECTION_DATABASETYPE_ConStr" value="OleDb" />
		<add key="MM_CONNECTION_SCHEMA_ConStr" value="" />
		<add key="MM_CONNECTION_CATALOG_ConStr" value="" />
	</appSettings>
</configuration>