.content-blk {font-family: tahoma,verdana; color: #000000; font-size: 12px;}
.content-wht {font-family: tahoma,verdana; color: #FFFFFF; font-size: 12px;}

B {font-weight: bold}
A:visited {color: #0066CC}
A:active {color: #FF0000}
A {font-family: tahoma,verdana; font-size: 12px; color: #FF0000}


